.header__link {
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  background-color: #000;
  border: none;
}

.header__link:hover {
  opacity: 0.6;
}
